<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25087736804-gqghrn2mglgrj6u4fjt23g2eroff6mle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25087736804-gqghrn2mglgrj6u4fjt23g2eroff6mle</string>
	<key>API_KEY</key>
	<string>AIzaSyBiTexTCD_n0R0ls8Zk-jER-RwBSir_smQ</string>
	<key>GCM_SENDER_ID</key>
	<string>25087736804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Loodos</string>
	<key>PROJECT_ID</key>
	<string>loodos-ff4db</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-ff4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25087736804:ios:87255e7cf11b5759ba25f1</string>
</dict>
</plist>